/*===================================IMPORT MODULES=====================================*/
@import './modules/reset';
@import './modules/mixin';
@import './modules/fonts';
@import './modules/vars';
@import './modules/global';
/*======================================================================================*/


/*======================================DUBLICATES======================================*/
body{
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    background: black;
    color: #FFFFFF;
}

button{
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

%buttons{
    color: #FFFFFF;
    @include create-button(11, 183, 17);
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0.06em;
}
/*======================================================================================*/


/*=====================================IMPORT PARTS=====================================*/
@import './parts/header';
@import './parts/main';
@import './parts/footer';
/*======================================================================================*/