/*======================================== TOP =========================================*/
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    left: -100%;
    top: -100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor.mouse-hover{
    transform: translate(-50%, -50%) scale(1.3);
    background-color: #FFFFFF;
    opacity: .5;
}


.top{
    
    &__slider{
        
        &-item{
            height: 100vh;
            background-repeat: no-repeat;
            background-position: left;
        }
    }

    .slick-list{
        padding:0 19.3% 0 0 !important;
    }
}

.slider-item{
    position: relative;

    &__sidebar{
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 50px 50px;
        bottom: 48px;
        left: 44px;

        &-suptitle{
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            padding-left: 2px;
        }

        &-title{
            color: transparent;
            font-weight: 700;
            font-size: 48px;
            line-height: 46px;
            letter-spacing: 0.04em;
            -webkit-text-stroke: 1px #FFFFFF;
        }
    }

    &__info{
        max-width: 648px;
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%);

        &-title{
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            margin-bottom: 52px;
        }

        &-subtitle{
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            position: relative;
            padding-left: 16px;
            color: #FFFFFF;

            &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 1px;
                background: rgba(255, 255, 255, 0.4);
                top: 50%;
                left: 0;
            }

            &::after{
                content: '';
                position: absolute;
                width: 56px;
                height: 1px;
                background: rgba(255, 255, 255, 0.4);
                top: 50%;
                margin-left: 8px;
            }
        }
    }
}
/*======================================================================================*/