/*======================================== TOP =========================================*/
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    left: 50%;
    top: -100%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor.mouse-hover{
    transform: translate(-50%, -50%) scale(1.3);
    background-color: #FFFFFF;
    opacity: .5;
}

.cursor.mouse-black{
    border: 2px solid $text-black;
}

.top{
    
    &__slider{
        
        &-item{
            height: 100vh;
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
        }
    }

    .slick-list{
        padding:0 18% 0 0 !important;
    }

    .slider-item.slick-active .slider-item__sidebar{
        opacity: 0;
        transition: .3s all;
    }
}

.slider-item{
    position: relative;

    &__sidebar{
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 50px 50px;
        bottom: 48px;
        left: 44px;
        transition: .3s all;

        &-suptitle{
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            padding-left: 2px;
        }

        &-title{
            color: transparent;
            font-weight: 700;
            font-size: 48px;
            line-height: 46px;
            letter-spacing: 0.04em;
            -webkit-text-stroke: 1px #FFFFFF;
        }
    }

    &__info{
        max-width: 648px;
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%);

        &-title{
            font-weight: 700;
            font-size: 56px;
            line-height: 68px;
            margin-bottom: 52px;
        }

        &-subtitle{
            font-weight: 700;
            font-size: 10px;
            line-height: 12px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            position: relative;
            padding-left: 16px;
            color: #FFFFFF;

            &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 1px;
                background: rgba(255, 255, 255, 0.4);
                top: 50%;
                left: 0;
            }

            &::after{
                content: '';
                position: absolute;
                width: 56px;
                height: 1px;
                background: rgba(255, 255, 255, 0.4);
                top: 50%;
                margin-left: 8px;
            }
        }
    }
}

.slider__control{
    position: absolute;
    top: 63%;
    right: 250px;
    z-index: 100;
    display: flex;
    align-items: center;

    &-bar{
        display: block;
        width: 186px;
        height: 1px;
        overflow: hidden;
        background-color: rgba(255, 255, 255, 0.32);
        background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
        background-repeat: no-repeat;
        background-size: 0 100%;
        margin: 0 12px;
        
        transition: background-size 0.4s ease-in-out;
    }

    &-current{
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 0.06em;
    }

    &-all{
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 0.06em;
    }
}

.slider-arrows{
    position: absolute;
    padding-top: 6px;
    top: 63%;
    right: 250px;
    z-index: 120;
    cursor: pointer;

    &-right{
        right: 235px;
    }

    &-left{
        right: 500px;
    }
}

.top__footer{
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
}

.top__social{
    display: flex;
    justify-content: space-between;
    max-width: 500px;

    &-list{
        display: flex;
    }

    &-link{
        color: #FFFFFF;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.06em;
        font-weight: 600;
    }

    &-item + .top__social-item{
        padding-left: 16px;
    }

    &-phone,
    &-email{
        a{
            color: #FFFFFF;
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.06em;
            font-weight: 600;
        }
    }
}
/*======================================================================================*/


/*==================================== Philosophy ======================================*/
.philosophy{
    background-color: #FAFAFA;

    &__inner{
        padding: 140px 0;
    }
}

.philosophy__main{
    display: flex;
    justify-content: space-between;

    &-info{
        padding-top: 80px;
        max-width: 515px;
        margin-left: 135px;
    }

    &-title{
        @extend %title;
    }

    &-desc{
        color: $text-black;
        opacity: 0.7;
        padding-top: 28px;
    }

    &-discover{
        color: $text-black;
        display: inline-block;
        margin: 64px 0;
        &::after,
        &::before{
            background: rgba(49, 49, 49, 0.2);
        }
    }

    &-image{
        img{
            max-width: 513px;
            height: 608px;
        }
    }
}

.philosophy__sub{
    display: flex;
    justify-content: space-between;
    margin-top: -47px;

    &-image{
        img{
            height: 520px;
            width: 515px;
        }
    }

    &-desc{
        color: $text-black;
        display: flex;
        max-width: 430px;
        margin-right: 135px;
        padding-top: 277px;

        span{
            @extend %title;
        }

        p{
            display: inline-block;
            font-size: 20px;
            line-height: 34px;
            margin-left: 32px;
        }
    }
}
/*======================================================================================*/