/*======================================== TOP =========================================*/
.top{

    &__slider{
        
        &-item{
            height: 100vh;
            background-repeat: no-repeat;
            background-position: left;
        }
    }

    .slick-list{
        padding:0 19.3% 0 0 !important;
    }
}
/*======================================================================================*/