// @font-face{
//     font-family: 'Montserrat';
//     src: url('../../fonts/Montserrat-Light.ttf') format('truetype');
//     font-weight: 300;
// }

// @font-face{
//     font-family: 'Montserrat';
//     src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
//     font-weight: 600;
// }

// @font-face{
//     font-family: 'Montserrat';
//     src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
//     font-weight: 700;
// }