/*========================================COLORS========================================*/
$text-black: #080808;
$text-grey: #828282;
$bg-light: #F2F2F2;
/*======================================================================================*/


/*========================================BORDERS=======================================*/
$border-grey: 1px solid #FDFDFD;
/*======================================================================================*/


/*========================================SHADOWS=======================================*/
$shadow-select: 0px 1.15336px 1.22544px rgba(0, 0, 0, 0.2), inset 0px -0.288339px 0.0720847px rgba(255, 255, 255, 0.23);
$shadow-gallery: linear-gradient(19.71deg, rgba(0, 0, 0, 0.48) 0%, rgba(0, 0, 0, 0) 45.39%);
$shadow-photo: drop-shadow(0px 0px 64px rgba(0, 0, 0, 0.16));
/*======================================================================================*/


/*=======================================ELEMENTS=======================================*/
$sideheader-fill-gradient: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 1.28%, rgba(0, 0, 0, 0.05) 100%);
$black-bg: radial-gradient(50% 50% at 50% 50%, #0F0F0F 0%, #080808 100%);
/*======================================================================================*/